{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="flex items-center justify-center h-screen">
    <div class="w-full max-w-md">
        <form method="post" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
            {% if error %}
                <div class="text-red-500 text-sm mb-2">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="text-gray-600 text-sm mb-2">
                    You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}" class="text-blue-500 hover:underline">Logout</a>
                </div>
            {% endif %}

            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="inputEmail">Email</label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="email" value="{{ last_username }}" name="email" id="inputEmail" autocomplete="email" required autofocus>
            </div>

            <div class="mb-6">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="inputPassword">Password</label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" type="password" name="password" id="inputPassword" autocomplete="current-password" required>
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <div class="flex items-center justify-between">
                <label class="inline-flex items-center">
                    <input type="checkbox" name="_remember_me" class="form-checkbox">
                    <span class="ml-2 text-gray-600 text-sm">Remember me</span>
                </label>
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">Sign in</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}