<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
        href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    {# templates/base.html.twig #}
    {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
    {% endblock %}

    {% block javascripts %}
    {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>

<body class="bg-slate-200">
    <div class="min-h-screen">
        <!-- Header -->
        <header class="bg-white shadow">
            <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8 flex justify-between items-center">
                <h1 class="text-3xl font-bold text-gray-800">
                    <a href="{{ path('AccueilRoute') }}">Ortho-memory</a>
                </h1>
                <nav class="w-max">
                    <ul class="flex space-x-4">
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li>
                            <a href="{{ path('PlaygroundSettingsRoute') }}" class="text-gray-600 hover:text-gray-800">Play</a>
                        </li>
                        {% if is_granted('ROLE_ADMIN') %}
                        <li>
                            <a href="{{ path('admin') }}" class="text-gray-600 hover:text-gray-800 px-3">Admin</a>
                        </li>
                        {% endif %}
                        <li>
                            <a href="{{ path('app_logout') }}" class="text-gray-600 hover:text-gray-800 px-3">Logout</a>
                        </li>
                        {% else %}
                        <li>
                            <a href="{{ path('app_login') }}" class="text-gray-600 hover:text-gray-800 px-3">Login</a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </header>

        <!-- Main content -->
        <main class="">
            {% block body %}{% endblock %}
        </main>
    </div>
</body>
<footer class="bg-gray-800 py-6">
    <div class="max-w-7xl mx-auto text-center text-white">
        <p>&copy; {{ "now"|date("Y") }} - Tous droits réservés. Créé avec Symfony & Tailwind CSS.</p>
    </div>
</footer>

</html>